@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  position: relative;
  background: #f1f1f1;
  min-height: 100vh;
}

.navbar-brand img {
  width: 150px;
  height: 100%;
}

.card .card-title {
  font-size: 2em;
  font-family: 'Fredoka One', cursive !important;
  color: rgba(0, 0, 0, 0.75);
}

.box-infected .card-header {
  background: rgba(0, 0, 255, 0.45) !important;
}

.box-recovered .card-header {
  background: rgba(0, 255, 0, 0.45) !important;
}

.box-deaths .card-header {
  background: rgba(255, 0, 0, 0.45) !important;
}
